a{
    font-size: 3rem;
    padding-left: 30%;
    padding-right: 30%;
}
img{
    height: 30%;
    width: 30%;
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
}
h1{
    padding-left: 30%;
    padding-right: 30%;
}